node_modules/
.env
coverage/
*.log
dist/
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Security scan reports
security/reports/*.json
frontend-backup/
frontend-professor/
frontend.zip
